# ignore everything by default #################################################

**

# root-level README ############################################################

!/README.md
!/.mdl.rb
!/.mdlrc

# github workflows #############################################################

!/.github/
!/.github/workflows
!/.github/workflows/*.yml

# modul folders ################################################################

!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/
!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/README.md

# appendix folder ##############################################################

!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/appendix
!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/appendix/*.md
!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/appendix/assets/
!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/appendix/assets/*.svg
!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/appendix/assets/*.png
!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/appendix/assets/*.jpg

# assets folder ################################################################

!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/assets
!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/assets/*.svg
!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/assets/*.png
!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/assets/*.jpg

# extras folder ################################################################

!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/extra
!/[A-Z]*[A-Z0-9]-[A-Z]*[A-Z0-9]/extra/**

# just in case #################################################################
!.gitignore

# vscode  ######################################################################

!.vscode
!.vscode/settings.json
!.vscode/extensions.json

# actions lists #################################################################

!*.list